.select span.main {
    border: 2px solid #1ea7fd ;
    background-color: #d4e1e3;
    display:inline-block ;
    min-height: 20px;
    min-width: 45px;
}

.items{
    position:absolute;
    padding: 5px;
    border: 1px solid black;
}
.item.selected:hover:not(.selected) {
    background-color: #1ea7fd;
    color: white;
}
